<h2>Edit {{ factionId }}</h2>
<div *ngIf="(factionData$ | async) as profiles; else loading">
  <ul *ngIf="profiles.length > 0; else noProfiles" class="unit-items">
    <li *ngFor="let unit of profiles" class="unit-item">
      <span>{{ unit.name }} ({{ unit.type }})</span>
      <div class="actions">
        <button (click)="selectUnit(unit.id)">Edit</button>
        <button (click)="deleteUnit(unit.id)" class="delete">Delete</button>
      </div>
    </li>
  </ul>
  <ng-template #noProfiles>
    <p>No profiles found. Create one!</p>
  </ng-template>
</div>
<ng-template #loading>
  <p>Loading faction profiles...</p>
</ng-template>
