<h2>Factions</h2>
<!-- <button (click)="createNewUnit()">Create New </button> -->
<div *ngIf="(unitFiles$ | async) as files; else loading">
  <ul *ngIf="files.length > 0; else noFiles" class="unit-items">
    <li *ngFor="let file of files" class="unit-item">
      <span>{{ file.fileName.replace('.json', '').replace('-', ' ') }}: {{ file.profileCount }} profiles</span>
      <div class="actions">
        <button (click)="selectUnit(file.fileName)">Edit</button>
        <!-- <button (click)="deleteUnit(file.fileName)" class="delete">Delete</button> -->
      </div>
    </li>
  </ul>
  <ng-template #noFiles>
    <p>No faction files found. Create one!</p>
  </ng-template>
</div>
<ng-template #loading>
  <p>Loading faction files...</p>
</ng-template>
